services:
  backend:
    build: ./backend
    container_name: inventory-backend

    volumes:
      - ./backend/app:/app

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    ports:
      - "8000:8000"

    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

    depends_on:
      - database

  database:
    image: postgres:15
    container_name: inventory-db

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
